<h2> Survey: <%= @survey.title %></h2>
<form action="/surveys/<%= @survey.id %>" method="post">
  <ol>
    <% index = 0 %>
    <% @survey.questions.each do |question| %>
      <li> <%= question.name%> </li>
      <ul><% question.choices.each do |choice| %></ul>
          <input type="radio" name="choices[:id]" value="<%= choice.id %>"> <%=choice.body %><br>
        <% end %>
    <% end %>
  </ol>

  <input type="submit" value="Go Bananas!">

</form>
