<h2> Survey: <%= @survey.title %></h2>

  <% if session[:user_id] == @survey.user.id %>
    <ol>
      <% index = 0 %>
      <% @survey.questions.each do |question| %>
        <li> <%= question.name%> </li>
        <ul><% question.choices.each do |choice| %></ul>
            <p><%= choice.body %> | selected <%= choice.times_selected %> time(s) or <%= choice.percentage_selected %></p>
          <% end %>
      <% end %>
    </ol>
  <% else %>

    <form action="/surveys/<%= @survey.id %>" method="post">
      <ol>
      <% index = 0 %>
        <% @survey.questions.each do |question| %>
          <li> <%= question.name%> </li>
          <% index += 1 %>
          <ul><% question.choices.each do |choice| %></ul>
              <input type="radio" name="question.id" value="<%= choice.id %>"> <%=choice.body %><br>
            <% end %>
        <% end %>
      </ol>

      <input type="submit" value="Go Bananas!">

    </form>
  <% end %>

<a href="/surveys">back to surveys</a>
