<h2> Survey: <%= @survey.title %></h2>

  <% if session[:user_id] == @survey.user.id %>
    <ol>
      <% index = 0 %>
      <% @survey.questions.each do |question| %>
        <li> <%= question.name%> </li>
        <ul><% question.choices.each do |choice| %></ul>
            <p><%= choice.body %> | selected <%= choice.times_selected %> time(s) or <%= choice.percentage_selected %></p>
          <% end %>
      <% end %>
    </ol>
  <% else %>
      <ol id = "question-ol">
      <% index = 0 %>
        <% @survey.questions.each do |question| %>
          <li> <%= question.name%> </li>
          <% index += 1 %>
            <ul class = "answer-button"><% question.choices.each do |choice| %>
              <li><a class = "selection-button" href="/choices/<%= choice.id %>/responses"><%=choice.body %></a></li><br>
            <% end %>
          </ul>
        <% end %>
      </ol>
 <% end %>

  <button type="button"><a href="/surveys">Bananas Out!</a></button>

